$color-primary: #3a485d;
$color-secondary: #668596;
$color-accent: #e6c183;
$color-accent-2: #e57f54;
$color-dark-text: #040c22;
$color-mid-text: #b7b6a4;
$color-light-text: #f2f2f2;
$color-background: #f4f4f4;
$color-success: #73c774;
$color-error: #da6262;

$size-xxs: 0.125em;
$size-xs: 0.25em;
$size-s: 0.5em;
$size-m: 1em;
$size-l: 2em;
$size-xl: 4em;
$size-xxl: 8em;

$font-xxs: 0.625rem;
$font-xs: 0.75rem;
$font-s: 0.875rem;
$font-m: 1rem;
$font-l: 1.25rem;
$font-xl: 1.5rem;
$font-xxl: 1.75rem;
